

build/version_control/*

build/*/QC/*

build/hc3_pmed/*
build/hc4_cond/*

build/stata_example_code/*

mepstrends/ic_tables/*
mepstrends/hc_tables/hc3_pmed/*
mepstrends/hc_tables/hc4_cond/*


build/*/tables/*
build/*/*.Rdata

.Rproj.user
.Rprofile

*.Rhistory
*.history
*.ssp
*.Rproj
*.log
