archive/*
ic_tables/*
packrat/*


hc_tables/hc3_pmed/*
hc_tables/hc4_cond/*



hc_tables/*/*/tables*
hc_tables/*/*.Rdata

hc_tables/shared/PUFS/*




*.Rhistory
*.history
*.ssp
*.Rdata

.Rproj.user
.Rprofile


hc_tables/code/SSS/*

QC*


*.Rproj
*.log
