/* Colors
#015289 : meps blue regular
#0a3b61 : meps dark blue (guesstimate)
*/

body{font-family: Source Sans Pro,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;}

h1{font-size: 3rem;}
h2{font-size: 2rem;}

caption, .caption{
  color: #5b616b; /* gray */
  font-size: 2.2rem;
  display: inline;
}

.em-legend{
  font-weight: 700;
  font-size: 1.7rem;
}

.em-logo{
  line-height: 1.5rem;
  margin-top: 1rem;
}

.em-logo a{
  color: #015289;
}

.em-logo img{
  vertical-align: bottom;
  width: 4em;
}

.full-screen{
  padding: 2rem;
  max-width: none;
}


/*****  Nav-tabs  *****/

.nav-pills{
  max-width: 800px;
}

.nav-pills> li{
  text-align:center;
  width: 100%;
}

@media screen and (min-width: 481px){
  .nav-pills> li{
    width: 30%;
  }
}

.nav-pills> li> a {
  text-decoration: none;
  margin: 0.2em;
  font-weight:600;
  color: #015289;
  border: 2px solid #015289;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover{
    color: #fff;
    background-color: #015289;
    text-decoration: none;
}


/*****  Download Button  *****/

.download-button{
  display: inline;
  padding: 0.2rem 1rem;
}

.download-button, 
.download-button:visited,
.download-button:active,
.download-button:hover,
.download-button:focus{ /* copying usa-button-secondary */
   background-color: #e31c3d;
   text-decoration: none;
   color: white;
}

.download-button:hover, 
.downlad-button:focus,
.download-button:visited:hover{
  background-color: #cd2026;
}

.download-button:visited:active,
.download-button:active{
  background-color: #981b1e;
}


/*****  Table  *****/

[data-value="Table"] {
  overflow-x: auto;
}

table caption{
  visibility:hidden;
}









