/* Colors
#015289 : meps blue regular
#0a3b61 : meps dark blue (guesstimate)
#5b616b: uswds gray
*/

body{font-family: Source Sans Pro,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;}


h1{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-size: 1em;
  font-family: Source Sans Pro,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  line-height: 1;
}


select{
  max-width: none;
}

.info-box{
  background-color: #015289; /* cool-blue */
  color: white;
}

.full-screen{
  padding: 1rem 3rem;
  max-width: none;
}

.em-caution-banner{
  font-size: 1.8rem;
  background-color: #fdb81e; /* gold */
  font-weight: 600;
  text-align: center;
}

.usa-banner-inner a:focus{
  outline: 5px auto -webkit-focus-ring-color;
}

.gray{
  color: #5b616b;
}

.hidden{
  display: none;
}


/*****  Header  *****/

.usa-banner-inner, 
.usa-header-extended .usa-navbar,
.usa-header-extended .usa-nav-inner{
  max-width: none;
}

@media screen and (min-width: 951px){
  .usa-header-extended .usa-navbar,
  .usa-header-extended .usa-nav-inner{
    max-width: none;
  }
}

/*****  Footer  *****/

.feedback-buttons{
  float:right;
}



/*****  Flex box  *****/

.flex-parent{
  display: -webkit-flex;
  display: flex;
}

.flex-child-fill{
  width: 100% ;
}

/*****  Code  *****/

.code-select select{
  max-width: 250px;
  width: 80%;
  display: inline-block;
}

/*****  Table  *****/

.footnote, 
.footnote:hover, 
.footnote:visited, 
.footnote:focus,
.footnote:active{
  text-decoratiOn: none;
  box-shadow: none;
  color: black;
}

figure{ /* wrapper for table, caption, footnotes */
  margin: 0;
}

table caption{
  visibility:hidden;
}

table{
  margin: 0;
  margin-top: 10px;
}

.meps-table{
  overflow-x: auto;
}

caption, .caption{
  color: #5b616b; /* gray */
  font-size: 2.2rem;
  display: inline;
}


.dataTables_wrapper .dataTables_filter {
    float: left !important; 
    text-align: left !important; 
    width: 100%;
}

input[type="search"]{
  display: inline-block;
  height: 3rem;
  padding: 0 1rem;
  width: 70%;
  font-weight: 400;
  
}


.em-legend{
  font-weight: 700;
  font-size: 1.7rem;
}

.em-logo{
  line-height: 1.5rem;
  margin-top: 1rem;
}

.em-logo a{
  color: #015289;
}

.em-logo img{
  vertical-align: bottom;
  width: 4em;
}




/*****  Nav-tabs  *****/

.nav-pills{
  max-width: 800px;
}

.nav-pills> li{
  text-align:center;
  width: 100%;
}

@media screen and (min-width: 481px){
  .nav-pills> li{
    width: 30%;
  }
}

.nav-pills> li> a {
  text-decoration: none;
  margin: 0.2em;
  font-weight:600;
  color: #015289;
  border: 2px solid #015289;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover{
    color: #fff;
    background-color: #015289;
    text-decoration: none;
}


.tab-title{
  background-size: 1em;
  background-repeat: no-repeat;
  padding-left: 1.4em;
  background-position: left center;
}


.table-tab{
  /* maybe put active ones here so they load in first thing (otherwise lags)
  background-image: url(../img/table-white.png); 
  background-image: url(../img/table-white.svg); */
  background-image: url(../img/table-blue.png); 
  background-image: url(../img/table-blue.svg); 
}

.active .table-tab{
  background-image: url(../img/table-white.png); 
  background-image: url(../img/table-white.svg); 
}

.plot-tab{
  background-image: url(../img/bar-chart-blue.png); 
  background-image: url(../img/bar-chart-blue.svg);
  background-size: 1.2em;
}

.active .plot-tab{
  background-image: url(../img/bar-chart-white.png); 
  background-image: url(../img/bar-chart-white.svg); 
}

.code-tab{
  background-image: url(../img/code-blue.png); 
  background-image: url(../img/code-blue.svg);
  background-size: 1.2em;
}

.active .code-tab{
  background-image: url(../img/code-white.png); 
  background-image: url(../img/code-white.svg); 
}




/*****  Download Button  *****/

.usa-button.download-button{
  background-image: url(../img/download-gray.png); 
  background-image: url(../img/download-gray.svg);
  background-size: 1.4em;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 1.4em;
  padding: 0.2em 1em;
   
  display: inline;
  color: #5b616b;
  
  background-color: white;
  text-decoration: none;
  margin-right: 0;
  box-shadow:none;
}

.usa-button.download-button:hover{
  background-image: url(../img/download.png); 
  background-image: url(../img/download.svg);
}

/*.download-button, */
.usa-button.download-button:visited,
.usa-button.download-button:active,
.usa-button.download-button:hover,
.usa-button.download-button:focus,
.usa-button.download-button:visited:hover,
.usa-button.download-button:visited:active{ 
   background-color: white;
   text-decoration: none;
   box-shadow:none;
}


